<div class="row">
    <mat-card class="col-12">
        <mat-card-title>
            <div class="page-title">
                <h4>
                    <a routerLink="/main">Витрати</a>
                    <i class="material-icons">keyboard_arrow_right</i>
                    {{isNew ? 'Додати' : 'Редагувати'}} витрату
                </h4>
            </div>
        </mat-card-title>
        <mat-card-content>
            <form  [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-6">
                        <div class="input-field w200">
                            <input id="name" type="text"  formControlName="name"
                            [ngClass]="{'invalid': form.get('name')?.invalid && form.get('name')?.touched}">
                            <label for="name">Назва</label>
                            <span class="helper-text red-text" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
                                Введіть назву
                            </span>
                        </div>
                        <div class="input-field w100">
                            <input id="price" type="text"  formControlName="price"
                            [ngClass]="{'invalid': form.get('price')?.invalid && form.get('price')?.touched}">
                            <label for="price">Ціна</label>
                            <span class="helper-text red-text" *ngIf="form.get('price')?.invalid && form.get('price')?.touched">
                                <span *ngIf="form.get('price')?.hasError('required')">Заповніть поле</span>
                                <span *ngIf="form.get('price')?.hasError('pattern')">Некоректний формат ціни. Правильний формат: 99.99</span>
                            </span>
                        </div>
                        <button class="waves-effect waves-light btn" type="submit" [disabled]="form.invalid || form.disabled">
                            Зберегти зміни
                        </button>
                    </div>
                    <div class="col-6">
                        <div class="input-field">
                            <app-category-select [parentForm]="form"></app-category-select>
                        </div>
                        <div class="input-field">
                            <mat-form-field appearance="fill">
                                <mat-label>Виберіть дату</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="date"
                                [ngClass]="{'invalid': form.get('date')?.invalid && form.get('date')?.touched}">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <span class="helper-text red-text" *ngIf="form.get('date')?.invalid && form.get('date')?.touched">
                                    Поле не може бути порожним
                                </span>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>