a{
  display: block;
}

.toggle-btn:hover {
  background-color: #4CAF50;
  color: white;    
}

.toggle-btn{
  color:rgb(8, 8, 8);
  background-color: white;
  border: 2px solid #38E186;
  margin-right: 10px;
  margin-left: 15px;;
  margin-top: 15px;
  transition-duration: 0.4s;
}

.toggle-btn-1{
  color:rgb(8, 8, 8);
  background-color: rgb(90, 148, 235);
  border: 2px solid #38E186;
  color: #38E186;    
  margin-right: 10px;
  margin-left: 15px;
  margin-top: 15px;
  transition-duration: 0.4s;
}

.login-form{
  background-color: rgba(245, 245, 245, 0.8);
  max-width: 350px;
}