<ul class="sidenav sidenav-fixed a-sidenav">
    <h4 class="m10">Finance manager</h4>
    <li class="bold" routerLinkActive="active" *ngFor="let link of links">
        <a [routerLink]="[link.url]" class="waves-effect waves-orange">{{link.name}}</a>
    </li>

    <li class="bold last"><a href="#" (click)="logout($event)" class="waves-effect waves-orange">Вийти</a></li>
</ul>
<main>
    <router-outlet class="content"></router-outlet>
</main>

<div class="fixed-action-btn" #floating>
    <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li><a title="Додати витрату" class="btn-floating green" routerLink="/expenses/new"><i class="material-icons">payments</i></a></li>
        <li><a title="Додати дохід" class="btn-floating yellow" routerLink="/expenses/new"><i class="material-icons">savings</i></a></li>
        <li><a title="Додати категорію" class="btn-floating blue" routerLink="/categories/new"><i class="material-icons">list</i></a></li>
    </ul>
</div>

