<div class="row">
    <mat-card class="col-12">
        <mat-card-title>
            <div class="page-title">
                <h4>Доходи</h4>
                <button routerLink="/incomes/new" class="waves-effect waves-light btn grey darken-1">Додати</button>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div class="row" *ngIf="incomes; else loader">
                <div class="col-9">
                    <table *ngIf="incomes.length !== 0; else empty" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                      <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> № </th>
                        <td mat-cell *matCellDef="let expense; let i = index"> {{this.paginator.pageIndex == 0 ? i + 1 : 1 + i + this.paginator.pageIndex * this.paginator.pageSize}} </td>
                      </ng-container>
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef > Назва </th>
                        <td mat-cell *matCellDef="let income"> {{income.name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef> Величина </th>
                        <td mat-cell *matCellDef="let income"> {{income.amount}} </td>
                      </ng-container>
                      <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Дата </th>
                        <td mat-cell *matCellDef="let income"> {{income.date | date:'dd/MM/y'}} </td>
                      </ng-container>
                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Редагувати/Видалити </th>
                        <td mat-cell *matCellDef="let income">
                          <button title="Редагувати" class="btn btn-small green mrg-r10" (click)="edit(income.id)">
                            <i class="material-icons">edit</i>
                          </button>
                          <button title="Видалити" class="btn btn-small red" (click)="delete(income.id)">
                            <i class="material-icons">delete</i>
                          </button>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
              </div>
              <div class="row">
                <div class="col-9">
                  <mat-paginator  [pageSizeOptions]="[10, 25, 50]"
                  showFirstLastButtons 
                  aria-label="Виберіть кількість витрат на сторінку">
                 </mat-paginator>
                </div>
              
              </div>
              
              <ng-template #empty>
                <div class="center">Записів немає</div>
              </ng-template>
              <ng-template #loader>
                <app-loader></app-loader>
              </ng-template>
        </mat-card-content>
    </mat-card>
</div>
