<div class="row">
    <div class="col-9" *ngIf="lineChartView; else empty">
        <ngx-charts-line-chart *ngIf="lineChartView.length == analyticsType.length; else loader"
            [view]="[1000,400]"
            [results]="lineChartView"
            [xAxisLabel]="'Місяць'"
            [legendTitle]="'Графік річних витрат'"
            [yAxisLabel]="'Витрати, грн.'"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [xScaleMin]="1"
            [xScaleMax]="12"
            [autoScale]="true"
            [yAxis]="true">
        </ngx-charts-line-chart>
        <mat-button-toggle-group name="selections" aria-label="Selections" multiple [(ngModel)]="analyticsType" (change)="selectionChange()">
            <mat-button-toggle value="expenses" checked="true">Витрати</mat-button-toggle>
            <mat-button-toggle value="incomes" checked="true">Доходи</mat-button-toggle>
            <mat-button-toggle value="balance">Різниця</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="col-3">
        <div class="page-title">
            <h4>Фільтр</h4>   
          </div>
          <app-category-select (categoryEvent)="setCategoryId($event)"></app-category-select>
          <app-datepart-select [isMonth]="false" (yearEvent)="setYear($event)"></app-datepart-select>
    </div>
    <ng-template #loader>
        <app-loader></app-loader>
    </ng-template>
    
    <ng-template #empty>
        <div class="center">У вас немає категорій</div>
    </ng-template>
</div>
