<div class="row">
    <div class="col-9">
        <ngx-charts-bar-vertical *ngIf="monthAnalytics$ | async as monthAnalytics"
            [view]="[1000,400]"
            [results]="monthAnalytics"
            [xAxisLabel]="'Місяць'"
            [legendTitle]="'Графік річних витрат'"
            [yAxisLabel]="'Витрати, грн.'"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="true">
        </ngx-charts-bar-vertical>
    </div>
    <div class="col-3">
        <div class="page-title">
            <h4>Фільтр</h4>   
          </div>
          <app-category-select (categoryEvent)="setCategoryId($event)"></app-category-select>
          <app-datepart-select [isMonth]="false" (yearEvent)="setYear($event)"></app-datepart-select>
        </div>
</div>
